/* font_inter */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    overflow-x: hidden;
}
/* shared styles */

.black1{
    color: #252432;
}
.black2{
    color: #8987A1;
}
.black3{
    color: #000000;
}
.light-black{
    color: rgba(0, 0, 0, 0.5);
}
.orange{
    color: #E95A08;
}
.margin{
    margin: 120px 130px;
}
.align-center{
    text-align: center;
}
.btn-primary{
    background-color: #E95A08;
    color: white;
    padding: 26px 50px;
    width: 100%;
    border: none;
    white-space: nowrap;

}
.nowrap {
  white-space: nowrap;
}
/* nav styles */

.navbar{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 48px;
    list-style: none;
   
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.logo{
    max-width: 135px;
}
.logo img{
    width: 100%;
}


/* banner */
.banner{
    display: flex;
    justify-items: center;
    justify-content: center;
    max-width: 1140px;
    justify-content: space-evenly;
}
.banner-title{
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
}
.banner-sub-title{
    font-size: 1.3rem;
    text-align: left;
    margin-top: 13px;
}
.banner img{
    width: 390px;
}


/* plants section */
.plants1{
    max-width: 1140px;
    margin: 0 auto;
}
.plants-title{
    font-size: 2.8rem;
    font-weight: bold;
}
.plants-sub-title{
    font-size: 1.2rem ;
    margin-top: 16px;
    margin-bottom: 49px;
    padding: 0px 126px;
}
.plant-cards{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0px auto;
    justify-items: center;
}
.card-title{
    font-size: 22px;
    font-weight: medium;
    margin-top: 30px;
}
.price{
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* plants lover section */
.plants-lover{
    max-width: 1140px;
    display: flex;
    gap: 50px;
    margin:210px auto 0 auto;;

}
.plants-lover-title{
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;  
    max-width: 100%;
}
.plants-lover-body{
    font-size: 1.2rem;
    margin: 0;
}
ul li{
    margin-bottom: 20px;
}
.plants-lover-img{
    width: 100%;
    position: relative;
}
.badge{
    position: absolute;
    top: -135px;
    right: -90px;  
}
.badge img{
    max-width: 280px;  
}
/* latest deals */
.latest-deals{
    max-width: 1140px;
    margin: 0 auto 120px;
}
.first{
    margin-top: 120px;
}
.deals-title{
    font-size: 2.8rem;
    font-weight: bold;
}
.deals-body{
    font-size: 1.2rem;
    margin: 16px 230px 120px;
}
.second{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px)
    
}

.img1{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)), url(../assets/deal-bloom.png);
    height: 195px;
    width: 360px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    border-radius: 14px;
    
}
.img1 a{
    text-decoration: underline;
    color: inherit;
}
.img1-title, .img2-title{
    font-size: 1.2rem;
    font-weight: bold;
}
.img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)), url(../assets/deal-ana.png);
    height: 195px;
    width: 360px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}
.img2 a{
    text-decoration: underline;
    color: inherit;
}
.second-img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)), url(../assets/deal-zabo.png);
    width: 753px;
    height: 413px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}
.second-img2 a{
    text-decoration: underline;
    color: inherit;
}
.img3-title{
    font-size: 2.5rem;
    font-weight: bold;
}


/* join section */
.join{
    background-image: url(../assets/news-letter-bg.png);
    max-width: 1440px;
    height: 533px;
    background-size: cover;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    
}
.join-title{
    margin-bottom: 23px;
    font-size: 2.8rem;
    font-weight: bold;
    color: white;
}
.input{
  padding: 15px 300px 20px 15px;
  margin-left: 0;
  border: none;
  text-align: left;
}
.input::placeholder {
  text-align: left !important;
}

.btn{
    background-color: #E95A08;
    color: white;
    padding: 17px 53px;
    font-weight: 600;
    border: none;
}
.something{
    display: flex;
    width: max-content;
    margin: 0 auto;
}
/* footer */
.footer{
    max-width: 1140px;
    margin: 0 auto;
}
.item-text{
    max-width: 350px;
    margin-top: 16px;
}
.items{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    
}
.logos{
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 50px;
}
.item2, .item3{
    display: flex;
    flex-direction: column;
}
.item2 a{
    text-decoration: none;
    margin-bottom: 32px;
    color: #8987A1;
}
.item3 a{
    text-decoration: none;
    margin-bottom: 32px;
    color: #8987A1;
}

/* responsive */
@media screen and (max-width: 576px) {
    .navbar{
        max-width: 360px;
    }
    .minor{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        margin: 15px;
    }
    .banner-title{
        font-size: 2.8rem;
    }
    .banner img{
        width: 385px;
        overflow: hidden;
        margin: 0%;
    }
    .plants-title{
        margin-top: 65px;
    }
    .plants-sub-title{
        padding: 0px 10px;
    }
    .plant-cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .plant-card img{
        max-width: 180px;
    }
    .plants-lover{
        flex-direction: column;
        margin: 40px 0px;
        gap: 30px;
    }
    .plants-lover-img{
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden; 
       
    }
    .plants-lover-title{
       white-space: nowrap;
       font-size: 16px;
    }
    .badge{
        display: none;
    }
    .second{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        justify-content: center;
        justify-items: center;
    }
    
    .deals-body{
    margin: 16px 20px 120px;
    }
    .second-img2{
        width: 360px ;
        height: 195px;
    }
    .img2{
        border-radius: 0px;
    }
    .join{
        width: 390px;
        height: 275px;
    }
    .join-title{
        white-space: nowrap;
        font-size: 1.6rem;
    }
    .input{
        padding: 8px 70px 8px 15px ;
    }
    .btn{
    padding: 8px 25px;
    }
    .footer{
        margin-left: 20px;
    }
    .items{
        flex-direction: column;
    }
    .item1, .item2{
        flex-direction: column;
    }
}